@import '../../bower_components/foundation-apps/scss/foundation';

$ionicons-font-path: '../../bower_components/ionicons/fonts';
@import '../../bower_components/ionicons/scss/ionicons';

.alert {
	color: $alert-color;
}

.success {
	color: $success-color;
}

.message-input, .message-input .inline-label, .menu-bar {margin-bottom: 0;}
#sidebar, .messages {border-right: 1px solid #eee;}
.message-side-bar {border-left: 1px solid #eee;}
.avatar-section {border-top: 1px solid #eee;}

#sidebar .active {
	background: $gray-dark;

	.group-path {
		color: $dark-color;
	}
}

.menu-bar > li > a > div {
	font-size: 2em;
	margin-bottom: 0.2em;
}

.panel {
	display: block;
	top: -300px;
	transition-property: top;
	transition-duration: 0.3s;
	transition-delay: 0s;
}

.panel.is-active {
	top: 0;
}

.add-password-group, .add-password {
	height: 400px;
	top: -400px;
}

.add-password {
	.notes {
		height: 110px;
	}
}

.menu-bar {
	li {
		a {
			font-size: 0.7rem;
			padding: 0.7rem;
		}
	}
}

#password-form {
	position: fixed;
	top: 40%;

	.extra-large, .ion-lock-combination {
		font-size: 30px;
		padding: 16px;
	}

	.password {
		font-size: 30px;
		text-align: center;
	}

	.alert {
		font-size: 20px;
	}
}

#register-form {
	overflow: hidden;
}

.group-path {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #999;
	font-size: 13px;
	line-height: 14px;
	margin-top: 3px;
}

#unlock-button {
	margin: 0;
}

.search {
	.inline-label {
		margin-bottom: 0;
		width: 100%
	}

	.ion-ios-search-strong {
		font-size: 26px;
	}
}